.profile-page {
  display: flex;
  width: 100vw;
  min-height: 100vh;

  .profile-container {
    flex: 1;
    min-width: 0;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--bg2);

    .content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 100%;

      .top {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
      }

      .bottom {
        padding: 20px;
        background-color: white;
        box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}
