.profile-page {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg);
  font-family: 'Nunito', sans-serif;

  .profile-container {
    flex: 6;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    background-color: var(--bg2);
    color: var(--text);
    transition: all 0.3s ease;
    border-left: 1px solid var(--border);

    .content {
      padding: 30px;
    }
  }
}
.profile-page-container{
    margin-bottom: 20px;
}