.appointment-container{
    display:flex;
    width:100vw;
    height:100vh;
    background-color: var(--bg);
    font-family: 'Nunito', sans-serif;

    .right {
        flex: 6;
        background-color: var(--bg2);
        color: var(--text);
        height: 100vh;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;
        border-left: 1px solid var(--border);

        .bottom {
            padding: 20px;
        }
    }
}